
body {
	font-family: Arial, Verdana;
	font-size: 20px;
	background: #000;
	margin: 0;
	padding: 0;
}

#main {
	font-size: 36px;
	border-collapse:collapse;
}

#main td {
	background: #949494;
}
#main td {
	vertical-align: top;
}
#main #tape_detail {
	overflow-y:scroll;
	color: #000;
	text-align: right;
	font-size: 70px;
	height: 889px;
	margin-right: 2px;
	padding-top: 10px;
}
#main #tape_detail .row {
	width: 620px;
	margin-bottom: 40px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 12px;
}
#main #tape_detail .row.regular {
	padding-top: 10px;
}
#main #tape_detail .row.plus {
	color: #007e00;
}
#main #tape_detail .row.minus {
	color: #fd0000;
}
#main #tape_detail .row.times {
	color: #007e00;
}
#main #tape_detail .row.divide {
	color: #007e00;
}
#main #tape_detail .row.separator {
	background: url('images/paper_roll_divider.png') no-repeat top right;
	padding-top: 10px;
}
#main #tape_detail .row.total {
	color: #092f5b;
	background: #ffffff;
	-webkit-transition: background-color 300ms linear;
	padding-bottom: 10px;
}

#main #tape_detail .row.total:last-child { 
	color: #092f5b;
	background: #e2f5fb;
	font-weight: bold;
	font-size: 72px;
}

#main #tape_detail .blank {
	height: 280px;
}
::-webkit-scrollbar {
    width: 35px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#main #readout_op .inner {
	padding-top: 25px;
	padding-left: 50px;
	color: #999;
	font-size: 127px;
}

#main #readout .inner {
	text-align: right;
	color: #fff;
	/*
	padding-right: 45px;
	font-size: 125px;
	padding-top: 26px;
	*/
	padding-right: 50px;
	font-size: 105px;
	padding-top: 36px;
}

#main .calc_01 {
	background: url('images/calcu_img_01.jpg');
	width: 1920px;
	height: 91px;
}

#main .calc_02 {
	background: url('images/calcu_img_02.jpg');
	width: 148px;
	height: 895px;
}

#main .calc_03 {
	background: url('images/calcu_img_03.jpg');
	width: 172px;
	height: 181px;
}

#main .calc_04 {
	background: url('images/calcu_img_04.jpg');
	width: 754px;
	height: 181px;
}

#main .calc_05 {
	background: url('images/calcu_img_05.jpg');
	width: 37px;
	height: 895px;
}

#main .calc_06 {
	background: url('images/calcu_img_06.jpg');
	width: 676px;
	height: 895px;
}

#main .calc_07 {
	background: url('images/calcu_img_07.jpg');
	width: 133px;
	height: 895px;
}

#main .calc_08 {
	background: url('images/calcu_img_08.jpg');
	width: 926px;
	height: 43px;
}

#main .calc_09 {
	background: url('images/calcu_img_09.jpg');
	width: 172px;
	height: 167px;
}

#main .calc_10 {
	background: url('images/calcu_img_10.jpg');
	width: 193px;
	height: 167px;
}

#main .calc_11 {
	background: url('images/calcu_img_11.jpg');
	width: 190px;
	height: 167px;
}

#main .calc_12 {
	background: url('images/calcu_img_12.jpg');
	width: 193px;
	height: 167px;
}

#main .calc_13 {
	background: url('images/calcu_img_13.jpg');
	width: 178px;
	height: 167px;
}

#main .calc_14 {
	background: url('images/calcu_img_14.jpg');
	width: 926px;
	height: 1px;
}

#main .calc_15 {
	background: url('images/calcu_img_15.jpg');
	width: 172px;
	height: 158px;
}

#main .calc_16 {
	background: url('images/calcu_img_16.jpg');
	width: 193px;
	height: 158px;
}

#main .calc_17 {
	background: url('images/calcu_img_17.jpg');
	width: 190px;
	height: 158px;
}

#main .calc_18 {
	background: url('images/calcu_img_18.jpg');
	width: 193px;
	height: 158px;
}

#main .calc_19 {
	background: url('images/calcu_img_19.jpg');
	width: 178px;
	height: 158px;
}

#main .calc_20 {
	background: url('images/calcu_img_20.jpg');
	width: 172px;
	height: 162px;
}

#main .calc_21 {
	background: url('images/calcu_img_21.jpg');
	width: 193px;
	height: 162px;
}

#main .calc_22 {
	background: url('images/calcu_img_22.jpg');
	width: 190px;
	height: 162px;
}

#main .calc_23 {
	background: url('images/calcu_img_23.jpg');
	width: 193px;
	height: 162px;
}

#main .calc_24 {
	background: url('images/calcu_img_24.jpg');
	width: 178px;
	height: 327px;
}

#main .calc_25 {
	background: url('images/calcu_img_25.jpg');
	width: 172px;
	height: 165px;
}

#main .calc_26 {
	background: url('images/calcu_img_26.jpg');
	width: 193px;
	height: 165px;
}

#main .calc_27 {
	background: url('images/calcu_img_27.jpg');
	width: 190px;
	height: 165px;
}

#main .calc_28 {
	background: url('images/calcu_img_28.jpg');
	width: 193px;
	height: 165px;
}

#main .calc_29 {
	background: url('images/calcu_img_29.jpg');
	width: 926px;
	height: 18px;
}

#main .calc_30 {
	background: url('images/calcu_img_30.jpg');
	width: 1920px;
	height: 94px;
}

#main .key.down {
	background-position: bottom;
}

/*#main .lcd {
	font-family: monospace;
	white-space: pre;
}*/

#main .readout-comma-wrapper {
	position: relative;
}

#main .readout-comma {
	width: 13px;
	height: 21px;
	background: url('images/calcu_img_comma.png') 0px 0px no-repeat transparent;
	position: absolute;
	top: 45px;
	display: none;
}


